
 <div class="  bg-image img-fluid max-width:100%" style="background-image: url('https://img.freepik.com/premium-photo/chair-with-books-background-bookshelves-library-background_105428-3837.jpg?w=2000');height: 300px;"></div>
 <div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <h4 class="text-success text-center">Admin Registration</h4>
                    
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label  for="" class="form-label">Name</label>
                    <input type="text" name="name" [(ngModel)]="name" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Adhar Number</label>
                    <input type="text"  name="anumber" [(ngModel)]="anumber" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Address</label>
                    <textarea  name="address" [(ngModel)]="address" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Pin Code</label>
                    <input name="pincode" [(ngModel)]="pincode" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Email Id</label>
                    <input name="email" [(ngModel)]="email" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Date of Birth</label>
                    <input name="dob" [(ngModel)]="dob" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Phone Number</label>
                    <input name="pno" [(ngModel)]="pno" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">User Name</label>
                    <input name="uname" [(ngModel)]="uname" type="text" class="form-control"></div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label">Password</label>
                        <input name="pswrd" [(ngModel)]="pswrd" type="text" class="form-control">
                </div>  
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Confirm Password</label>
                    <input name="cnfrm" [(ngModel)]="cnfrm" type="text" class="form-control">
                </div>  
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button class="btn btn-success" (click)="viewreg()">REG</button>
                    <a href="/add" class="btn btn-success">Register</a>
                    <p> Already member?<a href="">Login here</a></p>
                </div>
            </div>
        </div>
    </div>
 </div>